<div class="row">
    <div class="col-12">
        <img class="img-responsive figure-img img-fluid rounded">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{recipe.name}}</h1>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Gerir Receita
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">To Shopping List</a>
                <a class="dropdown-item" href="#">Edit Recipe</a>
                <a class="dropdown-item" href="#">Delete Recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span class="float-right">
            <img src="{{recipe.imagePath}}" alt="{{recipe.name}}"
                class="img-responsive figure-img img-fluid rounded" style="max-height: 100px;">
        </span>
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        Ingredients
    </div>
</div>