<div class="row">
    <div class="col-12">
        <form action="">
            <div class="row">
                <div class="col-sm-9 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="Name" class="form-control">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="amout">Amount</label>
                    <input type="number" id="amout" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn-success btn" type="submit">Add</button>
                    <button class="btn-danger btn" type="button">Delete</button>
                    <button class="btn-primary btn" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>